django<1.5
psycopg2==2.4.6
south
flup

Pillow==1.7.8
easy-thumbnails==1.1

django-cms==2.3.5
django-tinymce==1.5.1b4

# Plugins, uncomment as neeeded
# cmsplugin-blog==1.1.2
# cmsplugin_gallery==0.5.3
git+git://github.com/TrioTorus/django-form-designer.git#egg=django-form-designer

